# Entornos virtuales
venv/
.env

# Archivos de base de datos locales
*.db
*.sqlite3

# __pycache__ y archivos de compilación Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.pot
*.pyc
*.swp
.DS_Store
Thumbs.db

# Configuraciones del entorno de desarrollo
.vscode/
.idea/
*.code-workspace

# Archivos de sistema
.env.*
*.bak
*.tmp

# Otros
.mypy_cache/
.pytest_cache/
coverage/
htmlcov/
dist/
build/
*.egg-info/
