# Entornos virtuales
venv/
.env
.env.*

# Cache y bytecode de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración sensibles
firebase-adminsdk.json

# Archivos temporales
*.log
.DS_Store
*.sqlite3

# Archivos de sistema
*.swp
*.bak

# Archivos de entorno
*.env